
[submodule "ComfyUI-Impact-Pack"]
	path = custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/NeoWorldTeam/ComfyUI-Impact-Pack

[submodule "comfyui-inpaint-nodes"]
	path = custom_nodes/comfyui-inpaint-nodes
	url = https://github.com/Acly/comfyui-inpaint-nodes.git

[submodule "ComfyUI-Inspire-Pack"]
	path = custom_nodes/ComfyUI-Inspire-Pack
	url = https://github.com/ltdrdata/ComfyUI-Inspire-Pack

[submodule "ComfyUI-LCM"]
	path = custom_nodes/ComfyUI-LCM
	url = https://gitee.com/custom_nodes_clone/ComfyUI-LCM.git

[submodule "ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git

[submodule "comfyui-profiler"]
	path = custom_nodes/comfyui-profiler
	url = https://github.com/tzwm/comfyui-profiler.git

[submodule "ComfyUI_Comfyroll_CustomNodes"]
	path = custom_nodes/ComfyUI_Comfyroll_CustomNodes
	url = https://github.com/Suzie1/ComfyUI_Comfyroll_CustomNodes

[submodule "ComfyUI_essentials"]
	path = custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials

[submodule "ComfyUI_FizzNodes"]
	path = custom_nodes/ComfyUI_FizzNodes
	url = https://github.com/FizzleDorf/ComfyUI_FizzNodes

[submodule "ComfyUI_IPAdapter_plus"]
	path = custom_nodes/ComfyUI_IPAdapter_plus
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus
[submodule "custom_nodes/comfyui_stable_fast"]
	path = custom_nodes/comfyui_stable_fast
	url = https://github.com/gameltb/ComfyUI_stable_fast.git
